<%- include('layouts/head') %>
<%- include('layouts/top_navbar') %>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="addmission-con">          
          <h4 class="text-center text-pest">Admission</h4>
          <div class="solid-line-gray"></div>
          <br>
          <h6 class="text-danger">Admission Rules</h6>
          <p class="text-success">
            After circular within admission date you have to collect admission form, fill it with recent captured photograph and with copy of last educational certificate apply to your selected course with necessary fee.
            <br>
            You can collect admission from any time from office within Morning 8.00 AM to Night 9.00 PM without Friday and any govt. holidays.
            <br>
            or
            <br>
            Admission form download from here.
          </p>
          <a download="" href="/nyttc_files/admission_form/nyttc_admission_form.pdf" class="btn btn-modern dark ">Download Admission Form<span><i class="ti-arrow-down"></i></span></a>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('layouts/footer') %>
<%- include('layouts/sign_in_up_modal') %>
<%- include('layouts/foot') %>