<%- include('layouts/head') %>
<%- include('layouts/top_navbar') %>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="" style="border: 1px solid gray; border-radius: 5px; padding: 15px;">          
          <h4 class="text-center">Career</h4>
          <div class="" style="width: 100%; height: 2px; background-color: gray;"></div>
          <br>
          <p class="text-warning">No job available now.</p>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('layouts/footer') %>
<%- include('layouts/sign_in_up_modal') %>
<%- include('layouts/foot') %>