<%- include('layouts/head') %>
<%- include('layouts/top_navbar') %>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="" style="border: 1px solid gray; border-radius: 5px; padding: 15px;">          
          <h4 class="text-center">Frequently Asked Questions</h4>
          <div class="" style="width: 100%; height: 2px; background-color: gray;"></div>
          <br>
          <h6 class="text-danger">Question 1: When you are available?</h6>
          <p class="text-success">Answer: Our office time is 8.00 AM to 9.00 PM. Weekly holiday is Friday. So, we are available Morning 8.00 AM to Night 9.00 PM without friday and govt. holiday.</p>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('layouts/footer') %>
<%- include('layouts/sign_in_up_modal') %>
<%- include('layouts/foot') %>