<%- include('../system_layouts/s_head') %>
<style>
  #user_email {
    background-color: #ddd;
  }
</style>
<div class="container-fluid">
  <%- include('../system_layouts/s_message') %>
  <%- include('../system_layouts/s_breadcumb') %>
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title">You can Change Your Password from here...</h4>
              <br>
              <!-- <p class="card-title-desc">Provide valuable, actionable feedback to your users with HTML5 form validation–available in all our supported browsers.</p> -->
              <form method="post" action="/admin-user/change-password" autocomplete="off">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label for="user_email">User Email</label>
                        <input type="text" readonly name="user_email" class="form-control" id="user_email" placeholder="Email" value="<%= user_info.email %>">
                        <input type="hidden" readonly name="user_id" class="form-control" id="user_id" placeholder="" value="<%= user_info.user_id %>">
                      </div>
                      <div class="form-group">
                        <label for="current_pass">Current Password</label>
                        <input type="password" name="current_pass" class="form-control" id="current_pass" placeholder="Current Password" value="" autocomplete="new-password" oninput="inputRequiredCheck(this)">
                        <span class="text-danger ml-2" id="currentPassErr"></span>
                      </div>
                      <hr class="bg-info">
                      <div class="form-group">
                        <label for="new_pass">New Password</label>
                        <input type="password" name="new_pass" class="form-control" id="new_pass" placeholder="New Password" value="" autocomplete="off" oninput="inputRequiredCheck(this)">
                        <span class="text-danger ml-2" id="newPassErr"></span>
                      </div>
                      <div class="form-group">
                        <label for="re_new_pass">Re-enter New Password</label>
                        <input type="password" name="re_new_pass" class="form-control" id="re_new_pass" placeholder="Re-enter New Password" value="" autocomplete="off" oninput="inputRequiredCheck(this)">
                        <span class="text-danger ml-2" id="reNewPassErr"></span>
                      </div>
                      <br>
                      <div class="text-center">
                        <button class="btn btn-primary changePassBtn" type="submit" name="changePass" id="changePassBtn">Change Password</button>
                        <button class="btn btn-danger changePassBtn" type="reset" id="resetPassBtn">Reset</button>
                      </div>
                    </div>
                    <div class="col-lg-6"></div>
                </div>
                
            </form>
          </div>
      </div>
    </div>
	</div>


</div>

<%- include('../system_layouts/s_foot') %>
<script>
  let current_pass_valid        = false;
  let new_pass_valid            = false;
  let re_new_pass_valid         = false;
  $(document).on('click', '#changePassBtn', function() {
    let current_pass    = $('#current_pass').val();
    let new_pass        = $('#new_pass').val();
    let re_new_pass     = $('#re_new_pass').val();

    if(current_pass.length == 0) {
      current_pass_valid = false;
      $('#currentPassErr').text('Required!');
    } else if(current_pass.length < 6) {
      current_pass_valid = false;
      $('#currentPassErr').text('Minimum 6 char length Password Needed!');
    } else {
      current_pass_valid = true;
      $('#currentPassErr').text('');
    }

    if(new_pass.length == 0) {
      new_pass_valid     = false;
      $('#newPassErr').text('Required!');      
    } else if(new_pass.length < 6) {
      new_pass_valid     = false;
      console.log(new_pass.length)
      $('#newPassErr').text('Minimum 6 char length Password Needed!');      
    } else {
      new_pass_valid = true;
      $('#newPassErr').text('');
    }

    if(re_new_pass.length == 0) {
      re_new_pass_valid = false;
      $('#reNewPassErr').text('Required!');      
    } else if(re_new_pass.length < 6) {
      re_new_pass_valid = false;
      $('#reNewPassErr').text('Minimum 6 char length Password Needed!');      
    } else {
      re_new_pass_valid = true;
      $('#reNewPassErr').text('');
    }
    if(new_pass_valid && re_new_pass_valid) {
      if(new_pass == re_new_pass){
        $('#newPassErr').text('');
        $('#reNewPassErr').text('');
        new_pass_valid = true;
        re_new_pass_valid = true;
        // console.log("mmmm")
      } else {
        $('#newPassErr').text('New Pass and Re-new Pass dosnt match!');
        $('#reNewPassErr').text('New Pass and Re-new Pass dosnt match!');
        // console.log("ooooo")
        new_pass_valid = false;
        re_new_pass_valid = false;
      }
    }

    if(current_pass_valid && new_pass_valid && re_new_pass_valid) {
      return true;
    } else {
      return false;
    }
  });

  function inputRequiredCheck(elm) {
    // console.log($(elm).val().length);
    if($(elm).val().length < 1) {
      // $('#currentPassErr').text('Required!');      
      // console.log($(elm).closest('div').find('span').text('Required!'));
      $(elm).closest('div').find('span').text('Required!');
    } else {
      $(elm).closest('div').find('span').text('');
    }

    // console.log($(elm).attr('id'))

    // if($(elm).attr('id') == 'new_pass') {
    //   let new_pass    = $(elm).val();
    //   let re_new_pass = $('#re_new_pass').val();

    //   if(re_new_pass.length != 0) {
    //     if(new_pass == re_new_pass) {
    //       $('#newPassErr').text('');
    //       $('#reNewPassErr').text('');
    //     } else {
    //       $('#newPassErr').text('New Pass and Re-new Pass dosnt match!');
    //       $('#reNewPassErr').text('New Pass and Re-new Pass dosnt match!');
    //     }
    //   }
    // }

    // if($(elm).attr('id') == 're_new_pass') {      
    //   let re_new_pass = $(elm).val();
    //   let new_pass    = $('#re_new_pass').val();

    //   if(new_pass.length != 0) {
    //     if(new_pass == re_new_pass) {
    //       $('#newPassErr').text('');
    //       $('#reNewPassErr').text('');
    //     } else {
    //       $('#newPassErr').text('New Pass and Re-new Pass dosnt match!');
    //       $('#reNewPassErr').text('New Pass and Re-new Pass dosnt match!');
    //     }
    //   }
    // }

  }
</script>