<%- include('system_layouts/s_head') %>

<div class="container-fluid">
  <%- include('system_layouts/s_breadcumb') %>
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title">Asign Course - To a Student</h4>
              <!-- <p class="card-title-desc">Provide valuable, actionable feedback to your users with HTML5 form validation–available in all our supported browsers.</p> -->
              <form method="post" action="/course/add-course">
                <div class="row">
                    
                    <div class="col-md-7">
                        <div class="form-group">
													<label for="course_id">Student Name</label>
                          <select name="course_id" id="course_id" class="form-control" required="">
                            <option value="">Select one...</option>														
														<% _.each(course_list, (v, k) => { %>
															<option value="<%= v.course_id %>"><%= (k+1)+". "+ v.course_title +" ("+ v.course_duration_text + ")" %></option>
														<% }); %>
													</select>
												</div>
                    </div>
                    <div class="col-lg-5">
                      <div class="form-group">
                          <label for="course_id">Course Name</label>
                          <select name="course_id" id="course_id" class="form-control" required="">
                            <option value="">Select one...</option>														
														<% _.each(course_list, (v, k) => { %>
															<option value="<%= v.course_id %>"><%= (k+1)+". "+ v.course_title +" --- ("+ v.course_duration_text + ")" %></option>
														<% }); %>
                          </select>
                      </div>
										</div>
										<div class="col-lg-5">
                      <div class="form-group">
                          <label for="course_duration_id">Actual Course Duration Admitted</label>
                          <select name="course_duration_id" id="course_duration_id" class="form-control" required="">
                            <option value="">Select one...</option>														
														<% _.each(courseDurList, (v, k) => { %>
															<option value="<%= v.course_duration_id %>"><%= v.duration_title %></option>
														<% }); %>
                          </select>
                      </div>
                  </div>
                </div>                
                <br>
                <div class="text-center">
										<button class="btn btn-primary courseAsignBtn" type="submit" name="saveUpdate" id="courseAsignSaveUpdateBtn">Asign Course</button>
										<button class="btn btn-danger courseAsignBtn" type="reset" id="AsignResetBtn">Reset</button>
                </div>
            </form>
          </div>
      </div>
    </div>
	</div>
	
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">All Course Asigned Lists</h4>
					<p class="card-title-desc">
						In here, showing all student with course lists.
					</p>
	
					<table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
						<thead>
							<tr>
								<th>Sl</th>
								<th>Student Name</th>
								<th>Type</th>
								<th>Department</th>
								<th>Course Title</th>
								<th>Short Title</th>
								<th>Duration</th>
								<th>Status</th>
								<th>Action</th>
							</tr>
						</thead>
	
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	

</div>

<%- include('system_layouts/s_foot') %>